<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8690335801.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
        <div class="container">
        <a class="navbar-brand" href="#"><img src="./assets/Logo.png" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item ">
              <a class="nav-link" href="./index.html">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about-us.html">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./contact.html">contact</a>
            </li>
          </ul>
        </div>
    </div>
      </nav>
      <section class="about-us">
        <div class="container">
            <div class="row about-us-section">
                <div class="about-us-title text-center"><h1 class="title-h1">About Us</h1>
                  <img src="assets/about-us.jpg" alt="" />
                <p class="title-p">
                  “Природні Права Україна” — це громадська організація з правозахисту у галузі вагітності,
                  пологів та материнства. 
                  Наша Місія: просування та забезпечення прав людини у 
                  сфері материнства та гуманізація системи пологової допомоги в Україні. 
                  Наша Мета: cтворення умов, за яких кожна жінка може проживати свою
                  вагітність та народжувати так, як вона вирішила, 
                  відчуваючи при цьому повагу до себе та свого вибору , 
                  а також підтримку у разі необхідності 
                </p>
              </div>
               <h1 class="work-title" >Напрямки нашої роботи: </h1>
               <ul class="about-us-list">
                   <li>Поширення інформації про права жінки у контексті вагітності, пологів і материнства  </li>
                   <li>Моніторинг та оприлюднення фактів порушення прав вагітних та породіль   </li>
                   <li>Підтримка жінок, що бажають захистити свої права  </li>
                   <li>Адвокація змін у системі охорони здоров’я України заради забезпечення прав жінок у сфері материнства  </li>
                   <li>Робота з громадською думкою з метою формування поваги до особистого вибору  </li>
                   <li>Робота з дотриманням прав людини у контексті перинатальних втрат  </li>
                   <li>Робота з медичними працівниками пологових будинків щодо профілактики професійного вигоряння  </li>
                   <li>Робота з медичними працівниками пологових будинків щодо комунікації з породіллями   </li>
               </ul>
               <h1 class="work-title" >Реалізовані проекти:  </h1>
               <ul class="about-us-list">
                   <li>Всеукраїнське анкетування породіль — 2015 р</li>
                   <li>Моніторинговий звіт з прав людини у пологах в Україні — 2016 р </li>
                   <li>ФБ флешмоб #ГодіМовчати — 2016 р</li>
                   <li>Правове консультування — з 2016 р </li>
                   <li>Анкетування породіль Львівщини — 2017 р </li>
                   <li>Адвокація змін у системі пологової допомоги Львівщини — 2017-2018 рр </li>
                   <li>Збірка “Права жінки у пологах та їх реалізація в Україні” для громадських активісток(-ів) — 2017 р </li>
                   <li>Буклет “Інформована згода у контексті вагітності та пологів: переваги для лікаря та жінки” — 2017 р </li>
                   <li>Тренінг із профілактики та подолання професійного вигоряння для медичних працівників пологових будинків м. Львів —2018 р </li>
               </ul>
               <h1 class="work-title" >Як додаються учасниці(-ки)?  </h1>
               <ul class="about-us-list">
                   <li>Якщо ви хочете стати нашим волонтеркою(-ом) — заповніть, будь ласка, анкету.</li>
               </ul>
               <h1 class="work-title" >Чим організація відрізняється від інших?  </h1>
               <ul class="about-us-list">
                   <li>Таких організацій, як наша, більше в Україні немає. Є ті, хто займається правами жінок, правами людини, правами пацієнтів чи реформою медичної системи, але ніхто не працює на перетині цих сфер.</li>
               </ul>
               <h1 class="work-title" >Як давно створена організація? </h1>
               <ul class="about-us-list">
                   <li>Як ініціатива ми існуємо з 2015 року, офіційно зареєстровані у 2016 році. Ми молода ГО, і тому у нас багато ентузіазму і багато можливостей для самореалізації. Долучайтеся! </li>
                   <li>Більше інформації про права жінки у пологах дивіться у збірці “Права жінки у пологах та їх реалізація в Україні” для громадських активісток(-ів) за посиланням.  </li>
               </ul>
               <h1 class="work-title" > Якщо ви бажаєте фінансово підтримати діяльність ГО “Природні Права Україна”,  це можна зробити, перерахувавши кошти в гривні на картку або розрахунковий рахунок з формулюванням платежу “Благодійна допомога на статутну діяльність”:  </h1>
               <ul class="about-us-list">
                   <li>Картка ПАТ КБ “ПРИВАТБАНК”5169 3305 1057 5423, отримувач ГО “Природні Права Україна”; </li>
                   <li>Розрахунковий рахунок 26000056128162 в ПАТ КБ “ПРИВАТБАНК”, МФО 380775, ЄДРПОУ 41376773, ГО “Природні Права Україна”; </li>
               </ul>
            </div>
        </div>
    </section>
    <footer>
        <div class="container footer-section">
          <div class="footer-icon-div">
            <a href="https://www.facebook.com/pryrodni/" target="blank" ><i class="fab fa-facebook-f"> </i></a>
          </div >
          <div class="footer-icon-div">
            <a href="https://www.instagram.com/pryrodni_prava/" target="blank" ><i class="fab fa-instagram"> </i></a>
          </div>
          <div class="footer-icon-div">
            <a href="pryrodni@gmail.com" target="blank" ><i class="fas fa-envelope-square"></i></a>
          </div>
        </div>
      </footer>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="./node.js"></script>
</body>
</html>